
@model IPagedList<Bar>


@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Cocktails Magician</h1>

</div>

<div>
    <div class="col-md-4" id="barname-input">
        <input class="form-control" placeholder="BarName" />
    </div>

    <button id="barname-filter" class="btn btn-success col-lg-3">Search</button>
</div>

<div class="row"></div>


<div id="table-content">
    <partial name="_BarGrid" model="Model" />
</div>



@section Scripts {
    <script>

    //$('#table-content').on('click', "#tr-bar-id", function () {
    //    barId = $(this).data("bar-id");
    //    //$('#user-modal').modal('show');
    //});

    $(document).on("click", "#content-pager a", function () {
        const barName = $("#barname-input").val();
        const pathname = window.location.pathname.toLowerCase();

        const modUrl = pathname + `home/search?page=${$(this).text()}&barname=${barName}`;

        $.ajax({
            url: modUrl,
            type: 'GET',
            cache: false,
            success: function (result) {
                $('#table-content').html(result);
            }
        });

        history.pushState("", "", `?page=${$(this).text()}&barname=${barName}`);
        return false;
    });

    $("button#barname-filter").click(function () {
        const barName = $("#barname-input input").val();
        const pathname = window.location.pathname.toLowerCase();
        const modUrl = pathname + `home/search?page=${$(this).text()}&barname=${barName}`;

        $.ajax({
            url: modUrl,
            type: 'GET',
            cache: false,
            success: function (result) {
                $('#table-content').html(result);
            }
        });

        history.pushState("", "", `?barname=${barName}`);
        return false;
    });
    </script>
    <partial name="_ValidationScriptsPartial" />
}