@model CocktailMagician.Contracts.Cocktail
@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<ul>
    <li>Cocktail Name: @Model.Name</li>
    <li>Recipe: @Model.Recipe</li>
    <li>Rating: @Model.Rating</li>
</ul>
<h6><strong>Ingredients:</strong></h6> @string.Join(", ", Model.Ingredients)


