@model CocktailReview

    <div class="col-sm-6 col-lg-4 col-md-4" align="center">
        <h3 class="pull-right">@Model.Rating</h3>
        <h3 class="pull-right">@Model.Review</h3>
        <h3 class="pull-right">@Model.User</h3>
    </div>