@model CocktailMagician.Contracts.Bar
@{
    ViewData["Title"] = "Details";
}

<h1>BarForm</h1>

<ul>
    <li>Bar Name: @Model.Name</li>
    <li>Bar Address: @Model.Address</li>
    <li>Rating: @Model.Rating</li>
</ul>



