@model IEnumerable<Bar>
@{
    ViewData["Title"] = "Bars";
}
<div class="container">
    <h1>Bars</h1>
    <div class="container">
        @Html.ActionLink("New Bar", "Create", "Bars", null, new { @class = "btn btn-primary" })
    </div>
    <div class="container">
        <br>
        @if (!Model.Any())
        {
            <p>We don't have any bars yet.</p>
        }

        <div class="row">
            @foreach (var bar in Model)
            {
                <partial name="_BarPartial" model="@bar" />
            }
        </div>
    </div>
    <partial name="_Pagination" />
</div>
